* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #797960;
}

#wrapper {
    width: 50%;
    /*background-color: rgb(200, 200, 173);*/
    padding: 10px;
    border-radius: 8px;
    margin: 20px auto;
}

#btn-alert {
    border: none;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(203, 203, 203);
}
#btn-alert:hover {
    cursor: pointer;
    background-color: white;
    color:  #797960;
}

.gridjs-th-content{
    color: rgba(175, 152, 123, 0.673);
}