.button{
    background-color: #e7e1e1;
    border: 0;
    border-radius: 5px;
    padding: 20px 50px;
    cursor: pointer;
    /*TRASNITION. PERMITE DINAMISMO EN LA TRANSICION DE MODIFICACION A LOS ELEMENTOS */
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #f7fad1;
    /*TRANSFORM. PERMITE DINAMISMO AL BOTON*/
    transform: scale(1.1);
}

.button:active {
    /*ACTIVE. PERMITE DINAMISMO CUANDO MANTENEMOS CLIKEANDO EL ELEMENTO*/
    background-color: #3e3838;
}

.inputName {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #918f8f;
}

.inputName:focus{
    background-color:#f7fad1 ;
}